@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.BondsDashboard {

  $root: &;

  flex-wrap: nowrap;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;

  &_info {
    width: 330px;
    height: 310px;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
  }

  &_button {
  }

  &_closed {
    margin: auto;
    display: block;
    position: relative;
  }
}
