@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.BondsDashboard {

  $root: &;

  flex-wrap: nowrap;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;

  &_info {
    width: 330px;
    min-height: 310px;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    padding: 50px 35px 40px;
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &_content {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .BondsDashboard_button {
    margin: 0 auto;
    min-width: 260px;
  }

  &_closed {
    margin: auto;
    display: block;
    position: relative;

    &Wrap {
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
